<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <script src="../../Scripts/jquery-3.4.1.js"></script>
    <script src="../../Scripts/echarts.js"></script>
    <script src="../../Source/packages/layui/layui.js"></script>
    <script src="../../Scripts/Project/Home/homePage.js"></script>
    <link rel="stylesheet" href="../../Source/packages/layui/css/layui.css">
</head>
<body>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>当前位置&gt;&gt;主页</legend>
    </fieldset>
    <div style="padding:20px; background-color:#F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">
                        快速导航
                    </div>
                    <div class="layui-card-body" id="btn_list">

                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div id="echarts" style="width: 600px;height: 400px;margin:0 auto; text-align: center;"></div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">
                        使用教程
                    </div>
                    <div class="layui-card-body">
                        1、点击侧边栏“故障登记”，按要求填写维修信息
                        <br>
                        2、登记完毕后可点击侧边栏“我的报修”实时查看维修详情
                        <br>
                        3、待维修完成后，可在“我的报修”中对本次维修质量进行评分及反馈
                        <br>
                        4、点击侧边栏“个人信息”可查看及修改本账户信息
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
